.back {
  width: 48px;
  height: 48px;
}

.backText {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}
.contentBg {
  /* background-image: url("/img/bg/backpackCttBg.min.png"); */
  background-image: url("/img/bg/bgChatPc.min.png");
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .contentBg {
    background-image: url("/img/bg/bgChat.min.png");
  }
}
