.back {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 400px) {
    .contentBg {
      background-image: url("/img/bg/bgChat.min.png");
      border: 20px solid red;
    }
  }
.backText {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
}
.contentBg {
  /* background-image: url("/img/bg/backpackCttBg.min.png"); */
  background-image: url("/img/bg/bgChatPc.min.png");
  background-size: cover;

}
