.top {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50px;
  top: 20px;
}
.right {
  position: absolute;
  right: 140px;
  top: 65px;
}

.loveCollect {
  position: absolute;
  left: 200px;
  bottom: 100px;
  width: 1200px;
}
