.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.4);
  z-index: 10000;
}

.title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 14px rgba(20, 20, 171, 0.25);
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
  position: absolute;
  top: 150px;
}
.level {
  color: #fff;
  text-align: center;
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 36px */
}

.content {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 14px rgba(20, 20, 171, 0.25);
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 36px */
  position: absolute;
  bottom: 300px;
}

.levelArr{
  position: absolute;
  top: 320px;
}

.levelImg{
  width: 30px;
  height: 23.5px;;
}

.levelContent {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 14px rgba(20, 20, 171, 0.25);
  font-family: "SF Pro Rounded";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 36px */
}
.btn {
  position: absolute;
  top: 550px;
  width: 270px;
}
